@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


* {
    font-family: 'Roboto', sans-serif;
}

/* Header */
header {
    background-color: #731702;
}
/* Navbar */
#navbarNav a {
    color: #fff;
}

#navbarNav a:hover {
    color: #FEAD11;
}